In [2]:
import pandas as pd

In [3]:
merged = pd.read_csv('merged_data/merged_data.csv')

In [7]:
merged

,Unnamed: 0,Brand,Model,mass,wheel_base,axle_width_other,axle_width_other.1,engine_cap,engine_pow,co2_wltp,CO2
0,0,Alfa Romeo,Giulia,1620.0,2820.0,1629.0,1629.0,1995.0,206.0,184.0,182.051282
1,1,Alfa Romeo,Giulia,1640.0,2820.0,1629.0,1629.0,2143.0,154.0,145.0,182.051282
2,2,Alfa Romeo,Giulia,1570.0,2820.0,1641.0,1641.0,2143.0,140.0,133.0,182.051282
3,3,Alfa Romeo,Giulia,1640.0,2820.0,1629.0,1629.0,2143.0,154.0,141.0,182.051282
4,4,Alfa Romeo,Giulia,1570.0,2820.0,1641.0,1641.0,2143.0,140.0,128.0,182.051282
...,...,...,...,...,...,...,...,...,...,...,...
211113,11805865,Volvo,Xc90,2210.0,2984.0,1674.0,1674.0,1969.0,173.0,184.0,249.122807
211114,11805868,Volvo,Xc90,2181.0,2984.0,1674.0,1674.0,1969.0,173.0,171.0,249.122807
211115,11805875,Volvo,Xc90,2211.0,2984.0,1674.0,1674.0,1969.0,173.0,185.0,249.122807
211116,11805882,Volvo,Xc90,2206.0,2984.0,1666.0,1666.0,1969.0,173.0,199.0,249.122807
211117,11805996,Volvo,Xc90,2170.0,2984.0,1675.0,1675.0,1969.0,173.0,181.0,249.122807